body {
  font-family: Arial, sans-serif;
  font-weight: bolder;
}
.logo {
  width: 100px;
  border-radius: 80%;
}
.hero {
  background-image: url("images/stadium.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 6rem 1rem;
}
.nav-card img {
  height: 160px;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}
.nav-card {
  border: 2px solid #da1a32;
  transition: transform 0.3s;
}
.nav-card:hover {
  transform: scale(1.05);
}
footer {
  background: #111;
  color: white;
  padding: 1.5rem;
  text-align: center;
  background-color: #111;
}
@media (max-width: 400px) {
  #hitSixGame .position-relative {
    width: 90% !important;
  }
}
